
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
    <center><img src="img/topo_autonomos.png" width="85%"></center>
    </center>
      <p align="justify" class="fundoconteudo"> 
       MEI – Microempreendedor Individual<Br>
       <Br>
      Microempreendedor Individual (MEI) é a pessoa que trabalha por conta própria e que se legaliza como pequeno empresário. Para ser um microempreendedor individual, é necessário faturar no máximo até R$ 60.000,00 por ano e não ter participação em outra empresa como sócio ou titular. O MEI também pode ter um empregado contratado que receba o salário mínimo ou o piso da categoria.<Br>

      <br>  
      </p>
      <center>
       <a href="#/tab/chats/fisicas"><img src="img/aviso_pacet.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
