
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <center><img src="img/topo_autonomos.png" width="85%"></center>
    </center>
      <p align="justify" class="fundoconteudo"> 
       ADE SAMPA - Agência São Paulo de Desenvolvimento <br> 
      <br> 
      É um serviço social autônomo, dotado de personalidade de direito privado de fins não econômicos, de interesse coletivo e de utilidade pública. Tem por finalidade promover a execução de políticas de desenvolvimento local, especialmente as que contribuam para o crescimento econômico, a atração de investimentos, a redução das desigualdades regionais, a competitividade da economia, a geração de emprego e renda, o empreendedorismo, a economia solidária e a inovação tecnológica.<br> 


      <br>  
      </p> 
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
