 
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center><img src="img/topo_empresa.png" width="100%"></center>
    <br>
     <center>
	   <a href="#/tab/empresa/vagas"><img src="img/botaoEmpresaVagas.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/empresa/requerimento"><img src="img/botaoEmpresaRequerimento.png" width="35%"></a><br>
	   <br>
	   <a href="#/tab/empresa/curriculum"><img src="img/botaoEmpresaCurriculum.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a  href="#/tab/empresa/caged"><img src="img/botaoEmpresaCaged.png" width="35%"></a><br>
	   <br>
	   <a href="#/tab/empresa/demanda"><img src="img/botaoEmpresaDemanda.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/empresa/demanda"><img src="img/botaoEmpresaCbo.png" width="35%"></a><br>
	   <br>

   </center>

    
<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view> 