 
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center><img src="img/topo_empresa.png" width="100%"></center>
    <br> 
     <center>    
	   <a ng-click="GotoLink('https://maisemprego.mte.gov.br/imoweb/paginas/e-trabalhador/precadastro.xhtml')"><img src="img/botaoEmpresaVagas.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	   <a ng-href="linkModelFunc('http://granulito.mte.gov.br/sdweb/empregadorweb/index.jsf')"><img src="img/botaoEmpresaRequerimento.png" width="35%"></a><br>

	   <br>
	   <a ng-href="trustUrl('https://maisemprego.mte.gov.br/portal/pages/home.xhtml')"><img src="img/botaoEmpresaCurriculum.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	   <a onclick="window.open('https://granulito.mte.gov.br/portalcaged/paginas/home/home.xhtml', '_system', 'location=yes')"><img src="img/botaoEmpresaCaged.png" width="35%"></a><br>

	   <br>
	   <a  onclick="window.open('https://maisemprego.mte.gov.br/portal/pages/home.xhtml', '_blank', 'location=yes')"><img src="img/botaoEmpresaDemanda.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/empresa/demanda"><img src="img/botaoEmpresaCbo.png" width="35%"></a><br>
	   <br>

   </center>

    
<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
 