
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoEmpresaVagas.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br><br><br>
      <center>
      <a href="#/tab/empresa/vagaslogin"><img src="img/botao_login_mte.png" width="65%"></a>
      <br><br>
      <a href="#/tab/empresa/vagascadastro"><img src="img/botao_cadastro_empresa_mte.png" width="65%">


      </a>
      <br><br><br>
      </p>
     <center>
      <a href="#/tab/chats/fisicas"><img src="img/aviso_empresa_vagas.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
        
    <iframe src="https://maisemprego.mte.gov.br/imoweb/index.xhtml" width="100%" height="500px"></iframe>

  </ion-content>
</ion-view>
 
