 



<ion-view view-title="Edições" >
  <ion-content class="padding" style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
    <img src="img/logoinicial.png" width="80%">
    <br>

   <img src="img/menuprincipal.png" width="100%" ismap usemap="#exemplo1"><br>
    <map name="exemplo1"> 
    <area coords="2,140,250,30" href="#/tab/chats" shape="rect">
    <area coords="10,300,130,145" href="#/tab/trabalhador" shape="rect">
    <area coords="150,40,450,200" href="#/tab/empresa" shape="rect">
    <area coords="150,170,320,375" href="#/tab/autonomo" shape="rect">

    </map> 


            


    <br>
    <img src="img/assinatura.png" width="100%"><br>
  </ion-content>
</ion-view>
