
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoTrabalhadoresSeguro.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
      <div class="fundoconteudo">
      <p align="justify" >
        Seguro- Desemprego Formal : Foi instituído com a finalidade de prover assistência financeira temporária a trabalhadores desempregados sem justa causa, e auxiliá-lo na manutenção e na busca de emprego, provendo para tanto, ações integradas de orientação, recolocação e qualificação profissional. <br>
        <br>
        O trabalhador no período que estiver recebendo o seguro-desemprego, não pode receber outra remuneração oriunda de vínculo empregatício formal ou informal. v
        <br>
        O trabalhador deve solicitar o seguro-desemprego de 7 a 120 dias após sua demissão, nas unidades do CATe. Depois de habilitado, o trabalhador encontra no Portal M.T.E. Mais Emprego, todas as informações sobre o beneficio a receber.<br>
        <br>
        O numero de parcelas varia de 03 a 05, chegando a 07 em casos especiais. Caso o trabalhador volte a se empregar, o benefício é suspenso.<br>

        <br>
      </p>
     <center>
    <a href="http://granulito.mte.gov.br/sdweb/consulta.jsf"><img src="img/botao_consulta_seguro.png" width="75%"></a>
    </center>
  </div>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
