
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoTrabalhadoresPacet.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
   
      <p align="justify" class="fundoconteudo">
        PACET – Posto Avançado de Conciliação Extraprocessual do Trabalhador<br>        
        <br>
        É um programa de conciliação que auxilia o trabalhador com restrição cadastral “limpar o nome” da lista de inadimplentes, por meio de audiências de conciliações extraprocessuais com o credor e mediante a formalização de acordo entre as partes.<br>
        <br>
        Ao procurar o PACET, o trabalhador recebe o extrato com as informações sobre suas restrições. Caso haja interesse em negociar sua dívida é marcada uma audiência de conciliação no prazo de 15 a 20 dias.<br>
        <br>
        As consultas e os agendamentos são realizados em todas as unidades do CAT e as conciliações acontecem exclusivamente no - LUZ<br>
        <br>
        Importante: No momento da habilitação ao seguro-desemprego, você pode se inscrever em cursos do Pronatec (ver disponibilidade de cursos de programa na unidades do CAT SINE SP mais perto de você)
      <br>
      </p>
     <center>
       <a href="#/tab/chats/fisicas"><img src="img/aviso_pacet.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
