
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoTrabalhadoresOrientacao.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
   
      <p align="justify" class="fundoconteudo">
        <b>OFICINAS INTERATIVAS</b><br>
        <br>
        São palestras realizadas diariamente, e tem por objetivo dinamizar e orientar o trabalhador referente ao seu ingresso ou recolocação no mercado de trabalho. O tema proposto é escolhido de acordo com as necessidades e duvidas dos participantes, além de esclarecimentos sobre os serviços oferecidos pelo Centro de Apoio ao Trabalho.<br>
        <br>
        <b>OFICINAS TEMÁTICAS</b><br>
       <br>
        São oficinas realizadas as quartas-feiras com objetivo de preparar e desenvolver o trabalhador para o mercado de trabalho através de dicas de como elaborar seu currículo e a importância de mantê-lo atualizado, como se portar, qual o traje adequado para uma entrevista de emprego e as atividades propostas durante um processo de seleção como, por exemplo, dinâmicas de grupos. Aqueles que buscam o primeiro emprego, recolocação profissional ou abrir o seu próprio negócio também recebem dicas através de temas específicos:<br>
<br>
        <b>TEMAS</b><br>
<br>
        <b>Escolaridade e Qualificação</b><br>
<br>
        Os participantes são orientados sobre a importância do investimento em seus estudos e qualificação, tendo em vista o seu desenvolvimento para atuar no mercado de trabalho. 
          <br>
        <b>Elaboração de Currículo</b><br>
       <br>
        Esta oficina tem por objetivo, orientar o trabalhador em como confeccionar seu próprio currículo passo a passo, os participantes recebem dicas sobre o que colocar e o que não é necessário colocar no currículo, ressaltando a importância de tê-lo sempre atualizado, conhecer todo o seu conteúdo enfatizando que o currículo é o seu primeiro contato com a empresa.<br>

         <b>Conquistando o Primeiro Emprego</b><br>
<br>
        Os participantes são orientados a identificar o seu perfil profissional, traçar metas e objetivos, como elaborar o primeiro currículo, dicas de apresentação pessoal, como preencher fichas de emprego, meio de busca de vagas e como se portar em uma entrevista de emprego.</b><br>
       <br>
        <b>Processo Seletivo e Entrevista de Emprego</b><br>
       <br>
        Os participantes recebem dicas comportamentais durante um processo de seleção, elaboração de currículo, como identificar qualidades e pontos a melhorar, como elaborar redações, temas típicos de redação no processo seletivo e como se portar durante a realização de dinâmicas em grupo ou individuais.<br>
<br>
         <b>Habilidades</b><br>
<br>
        Os participantes são orientados em como identificar habilidades técnicas para realizar determinadas tarefas e importância de desenvolvê-las diariamente.<br>
       <br>
        <b>Marketing Pessoal</b><br>
       <br>
        Os participantes recebem dicas de apresentação pessoal durante um processo de seleção, tais como: vestimenta, higiene, comunicação e desenvolvimento de seu networking (rede de relacionamento) profissional e desenvolvimento de plano de carreira.<br>
<br>
        <b>Empregabilidade e Mercado de Trabalho</b><br>
       <br>
        Os participantes recebem dicas de como identificar e valorizar suas experiências profissionais e habilidades, ressaltando a importância de manter-se atualizado em relação ao ingresso no mercado de trabalho e assim planejar suas metas profissionais.<br>
<br>
        <b>Educação Financeira</b><br>
<br>
        Os participantes recebem dicas de como realizar um planejamento financeiro, consumir de forma moderada e planejamento de um orçamento equilibrado.<br>
<br>
        <b>Empreendedorismo</b><br>
       <br>
        Esta oficina tem por objetivo orientar o trabalhador sobre definição e características do empreendedor, divulgação dos serviços do MEI (o que é e quem pode participar), dicas de como empreender, traçar metas e formalizar seu próprio negócio.<br>
<br>

      </p> 
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
