
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoTrabalhadoresCarteiratrabalho.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
   
      <p align="justify" class="fundoconteudo">            
      CTPS - Carteira de Trabalho e Previdência Social<br>
      <br>
       O trabalhador pode tirar sua CTPS nos postos do CATe.  . A carteira de trabalho é emitida para todos os solicitantes com idade igual ou superior a 14 anos. Quando tratar-se de extravio, furto, roubo ou perda deverá apresentar o Boletim de Ocorrência Policial, ou declaração de próprio punho, "sob as penas da lei“.<br>
       <br>
      Documentos necessários<br>
        <br>
    • RG (Registro Geral);<br>
    • 1 Foto 3x4, recente e com o fundo branco;<br>
    • Na ausência do RG, será aceito a Certidão de Nascimento, Certidão de Casamento ou qualquer outro documento oficial de identificação, desde que contenha todas as informações necessárias ao preenchimento dos dados do interessado no protocolo.<br>
      <br>
      </p>
     <center>
      <a href="#/tab/chats/fisicas"><img src="img/aviso_carteira.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
