
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botao_pronatec.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
   
      <p align="justify" class="fundoconteudo">
        O Programa Nacional de Acesso ao Ensino Técnico e Emprego (Pronatec) foi criado pelo Governo
        Federal, em 2011, com o objetivo de ampliar a oferta de cursos de educação profissional e tecnológica.<br>
        <br>
      Objetivos:<br>
      • expandir, interiorizar e democratizar a oferta de cursos de educação profissional técnica de nível médio e de cursos de formação inicial e continuada ou qualificação profissional presencial e a distância;<br>
      • construir, reformar e ampliar as escolas que ofertam educação profissional e tecnológica nas redes estaduais;<br>
      • aumentar as oportunidades educacionais aos trabalhadores por meio de cursos de formação inicial e continuada ou qualificação profissional;<br>
      • aumentar a quantidade de recursos pedagógicos para apoiar a oferta de educação profissional e tecnológica;<br>
      • melhorar  a qualidade do ensino médio.<br>
      <br>
      </p>
     <center>
    <a href="#/tab/chats/fisicas"><img src="img/aviso_pronatec.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
