
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoTrabalhadoresQualificacao.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
    <center>
    <a href="#/tab/trabalhador/pronatec"><img src="img/botao_pronatec.png" width="70%"></a>
    
    <br><Br>
      <a href="#/tab/chats/fisicas"><img src="img/aviso_pronatec.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
