
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoTrabalhadoresPrevidencia.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
    <br>
   
      <p align="justify" class="fundoconteudo">            
        Orientação Trabalhista e Previdenciária <br>
        <br>
        O serviço de Orientação Trabalhista e Previdenciária, visa fornecer orientação jurídica quanto às leis trabalhistas nos Centros de Apoio ao Trabalho – CATe. A criação desse setor tem como objetivo levar informação, esclarecer dúvidas, do cidadão acerca dos direitos e deveres que rezam a legislação trabalhista e previdenciária, além de promover ações que estimulem a formalização. Essa atividade destina-se a todo público do, incluindo imigrantes e refugiados, e a sociedade em geral.<br>
          <br>
      </p>
     <center>
      <a href="#/tab/chats/fisicas"><img src="img/aviso_previdencia.png" width="100%"></a>
    </center>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
