
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center><img src="img/topo_trabalhadores.png" width="100%"></center>
    <br>
     <center>
	   <a href="#/tab/trabalhador/oportunidades"><img src="img/botaoTrabalhadoresOportunidades.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/trabalhador/qualificacao"><img src="img/botaoTrabalhadoresQualificacao.png" width="35%"></a><br>
	   <br>
	   <a href="#/tab/trabalhador/seguro"><img src="img/botaoTrabalhadoresSeguro.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/trabalhador/orientacao"><img src="img/botaoTrabalhadoresOrientacao.png" width="35%"></a><br>
	   <br>
	   <a href="#/tab/trabalhador/pacet"><img src="img/botaoTrabalhadoresPacet.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/trabalhador/carteira"><img src="img/botaoTrabalhadoresCarteiratrabalho.png" width="35%"></a><br>
	   <br>
	   <a href="#/tab/trabalhador/previdencia"><img src="img/botaoTrabalhadoresPrevidencia.png" width="35%"></a>

   </center>

    
<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
