
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center><img src="img/topo_trabalhadores_oportunidades.png" width="100%"></center>
    <br>
    <p align="justify" class="fundoconteudo">
    
    Neste aplicativo, você pode realizar seu cadastro no Portal M.T.E Mais Emprego e consultar vagas disponíveis para o seu perfil profissional. É importante observar o perfil exigido para cada vaga. <Br>
    <Br>
    O candidato somente terá acesso à mesma se preencher todos os requisito solicitados pelo empregador.<Br>
    </p>  
    <center><Br>
    <Br>
    <a href="#/tab/trabalhador/vagas/diretas"><img src="img/botao_pesquisa-diretas.png" width="85%"></a><br>
    <Br>
    <a href="#/tab/trabalhador/vagas/temporarias"><img src="img/botao_pesquisa-temporarias.png" width="85%"></a><Br>
    <br>
    <a href="#/tab/trabalhador/vagas/deficientes"><img src="img/botao_pesquisa-deficientes.png" width="85%"></a><Br>
<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
