
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
     <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoUnidades2.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>
    <br>
     <p align="justify" class="fundoconteudo">
     As unidades do CATe Móvel são veículos utilitários equipados com toda infraestrutura para realização de atendimento e que levam aos locais mais distantes da capital alguns dos principais serviços dos postos fixos, visando aproximá-los da população mais carente, facilitando a vida dos cidadãos.<Br>
     <Br>
     A cada quinzena, as unidades móveis mudam de endereço e são deslocadas para novos pontos distribuídos pelas cinco regiões da cidade, além de participarem de eventos.<Br>
    </p><br>
   <center>
   <a href="#/tab/chats/moveis/servicos"><img src="img/botaoUnidadesMoveisServicos.png" width="35%"></a>
    
 </center>

<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
