
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center>
      <br> 
        &nbsp;&nbsp;<img src="img/botaoUnidades2.png" width="35%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="55%"> 
    </center>

    <br>
     <p align="justify" class="fundoconteudo">
       <img src="img/topo_servicos.png" width="80%"><Br>
       Intermediação de Mão de Obra, Emissão de Carteira de Trabalho, Habilitação de Seguro Desemprego, Curso de Qualificação Profissional e Social (PRONATEC) e Microempreendedorismo Individual (MEI)
    </p><br>

   <center>
	   <a href="#/tab/chats/moveis/programacao"><img src="img/botaoUnidadesMoveisProgramacao.png" width="35%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href="#/tab/chats/moveis/eventos"><img src="img/botaoUnidadesMoveisEventos.png" width="35%"></a>
   </center>
<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
